<ion-view view-title="Tamborine">
    <ion-content class="padding">
        <ion-slide-box active-slide="myActiveSlide">
            <ion-slide>
                <div style="height: 300px" class="box blue">

                </div>
            </ion-slide>
            <ion-slide>
                <div style="height: 300px" class="box yellow"><h1>YELLOW</h1></div>
            </ion-slide>
            <ion-slide>
                <div style="height: 300px" class="box pink"><h1>PINK</h1></div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>
